# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
.gitignore
/gradle/.
gradle*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
#*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite

#  Unit Test Reports #
######################
*surefire*
.project
.settings
.classpath
target/
.settings/
.gradle/
/bin
build/
